<table class="table caption-top">
  <h1>Curreny Rates</h1>  
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= @from_output %> </td>
      <td><%= @to_output %> </td>
      <td><%= @rate_output %> </td>
    </tr>
  </tbody>
</table>

